.sayacKismi{
    position: relative;
    top: 60px;
    width: 100%; /* Örnek genişlik */
    height: 700px; /* Örnek yükseklik */
    background-image: url('../images/worldMAP.png');
    background-color: rgba(255, 255, 255, 0.5); /* Beyaz renk, %50 saydamlık */
    background-repeat: no-repeat; /* Resmi tekrar etme */
    background-size: cover; /* Resmi arka plana sığdırma */
    background-position: center; /* Resmin konumu */
    padding: 65px;
}

.wrapper {
    position: absolute;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  .containerss {
    width: 28vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
  }

  span.num {
    color: #010101;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 6em;
  }
  span.text {
    color: #000000;
    font-size: 2em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 500;
    line-height: 0;
  }
  @media screen and (max-width: 1024px) {
    .wrapper {
      width: 85vw;
    }
    .containerss {
      height: 26vmin;
      width: 26vmin;
      font-size: 12px;
    }
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      width: 90vw;
      flex-wrap: wrap;
      gap: 30px;
    }
    .containerss {
      width: calc(50% - 40px);
      height: 30vmin;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 480px) {
    .wrapper {
      gap: 15px;
    }
    .containerss {
      width: 100%;
      height: 15vmin;
      font-size: 8px;
    }

  }

.textDeger{
    display: inline;
    border-bottom: 2px solid black;
    margin-bottom: 50px;
}