@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Questrial&display=swap');

@import url('https://db.onlinewebfonts.com/c/5fd82f3bb8dcfc3ce611fab541b92241?family=DIN+Pro+Medium');

@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Questrial&display=swap');

@import url('boyu.css');

@import url('carousel.css');

@import url('tanitimKismi.css');


@import url('sayacKismi.css');


@import url('products.css');

@import url('navbar.css');

@import url('footer.css');

* {
    padding: 0;
    margin: 0;
    /* font-family: "Advent Pro", sans-serif; */
    font-family: "Figtree", sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

.ustKisim{
    font-size: 25px;
}

.navbar{
    background-color: white;
}

.navbarYukseklik{
    height: 100px;
}

.menuYukseklik{
    height: 100px;
}



.dgn{
    text-decoration: none;
    color: black;
}

.dgn:hover{
    color: black;
}

.footerim{
    padding: 50px;
}




.divs{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
   height: 300px;
   width: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(to right, #1cd8d2, #93edc7);
   color: white;
   margin: 100px 0;
   border-radius: 7px;
 }



 /* WebKit tabanlı tarayıcılarda kaydırma çubuğunu özelleştirme */
::-webkit-scrollbar {
    width: 12px; /* Kaydırma çubuğu genişliği */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Kaydırma çubuğunun arka plan rengi */
}

::-webkit-scrollbar-thumb {
    background: #343a89; /* Kaydırma çubuğu rengi */
}

::-webkit-scrollbar-thumb:hover {
    background: #555555; /* Kaydırma çubuğu üzerine gelindiğindeki renk */
}

