@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Questrial&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Darker+Grotesque:wght@300..900&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Syne:wght@400..800&display=swap');

@import url('boyu.css');

@import url('carousel.css');

@import url('tanitimKismi.css');


@import url('sayacKismi.css');


@import url('products.css');

@import url('navbar.css');

@import url('footer.css');

@import url('newCard.css');


@import url('bilgiAl.css');

@import url('productBox.css');

* {
    padding: 0;
    margin: 0;
    /* font-family: "Advent Pro", sans-serif; */
    
    /* font-family: "Figtree", sans-serif;
    font-style: normal; */
    font-family: "Darker Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
    
    box-sizing: border-box;
}

.ustKisim{
    font-size: 25px;
}


.navbarYukseklik{
    height: 100px;
}

.menuYukseklik{
    height: 100px;
}



.dgn{
    text-decoration: none;
    color: black;
}

.dgn:hover{
    color: black;
}

.footerim{
    padding: 50px;
}




.divs{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
   height: 300px;
   width: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(to right, #1cd8d2, #93edc7);
   color: white;
   margin: 100px 0;
   border-radius: 7px;
 }



 /* WebKit tabanlı tarayıcılarda kaydırma çubuğunu özelleştirme */
::-webkit-scrollbar {
    width: 12px; /* Kaydırma çubuğu genişliği */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Kaydırma çubuğunun arka plan rengi */
}

::-webkit-scrollbar-thumb {
    background: #343a89; /* Kaydırma çubuğu rengi */
}

::-webkit-scrollbar-thumb:hover {
    background: #555555; /* Kaydırma çubuğu üzerine gelindiğindeki renk */
}








.wantsHelp{
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    width: 50px;
    height: 50px;
    background-color: #4855a9;
    right: 25px;
    bottom: 50px;
    border-radius: 50%;
    opacity: 0.9;
    font-size: 25px;
}

.yuv{
    padding: 4px;
    margin: 0 2px;
    width: 7px;
    height: 7px;
    background-color: #ffffff;
    border-radius: 50%;
}

.kapsayan{
    right: 18px;
    bottom: 42px;
    position:fixed;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #a5a0c7;
    cursor: pointer;
}

.helperText{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 130px;
    height: 35px;
    right: 80px;
    bottom: 75px;
    border-radius: 15px 15px 0px 15px;
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
}






.ContentZone {
    position: relative;
    display: flex;
    flex-direction: column;
   
}




.ManifestLine {
    font-size: 2.6rem;
    line-height: 3.4rem;
    white-space: pre-line;
    font-weight: 400;
    opacity: .3;
    transition: opacity .5s cubic-bezier(.645,.045,.355,1);
    -webkit-user-select: none;
    user-select: none;
  
}

@media screen and (min-width: 670px) {
    .ManifestLine {
        font-size:5.4rem;
        line-height: 5.2rem
    }
}

@media screen and (min-width: 1024px) {
    .ManifestLine {
        font-size:5rem;
        line-height: 7.6rem
    }
}

.ManifestLine.is-active {
    opacity: 1
}


.Manifest {
    --Manifest-progress: 0;
    position: relative;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

@media screen and (min-width: 1280px) {
    .Manifest {
        position:relative;
        left: calc(-50vw + 50%);
        width: 100vw
    }
}

@media screen and (min-width: 1024px) {
    .Manifest {
        -webkit-clip-path:inset(0);
        clip-path: inset(0)
    }
}

.Manifest:not(.is-editMode) {
    min-height: 100vh
}

@media screen and (min-width: 1024px) {
    .Manifest:not(.is-editMode) .Manifest__cont {
        margin-top:-50vh
    }
}

.Manifest:not(.is-editMode) .Manifest__pinned {
    position: -webkit-sticky;
    position: sticky;
    top: 0
}

.Manifest:not(.is-editMode) .Manifest__background,.Manifest:not(.is-editMode) .Manifest__car {
    height: 100vh
}

.Manifest:not(.is-editMode) .Manifest__hero {
    height: calc(100vh - 320px)
}

@media screen and (min-width: 1024px) {
    .Manifest:not(.is-editMode) .Manifest__hero {
        height:100vh
    }
}

.Manifest:not(.is-editMode) .Manifest__content {
    padding-bottom: 20vh
}

.Manifest:not(.is-editMode) .Manifest__top {
    height: 150vh;
    margin-top: -100vh
}

@media screen and (min-width: 1024px) {
    .Manifest:not(.is-editMode) .Manifest__top {
        height:200vh;
        margin-top: -80vh
    }
}

.Manifest__cont {
    position: relative
}






.Manifest__heroButton {
    transform: translateY(150px);
    margin-top: 12px;
    opacity: 0;
    animation: animLine 1.7s cubic-bezier(.645,.045,.355,1) forwards;
    animation-delay: .5s
}

@media screen and (min-width: 1024px) {
    .Manifest__heroButton {
        margin-top:32px
    }
}

.Manifest__content,.Manifest__legalMentions {
    position: relative;
    z-index: 1;
    max-width: 980px;
    margin: 0 40px
}

@media screen and (min-width: 1024px) {
    .Manifest__content,.Manifest__legalMentions {
        margin:0 auto
    }
}















