a{
    position: relative;
}

a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px;
    background: #000000;
    transition: .6s;
}

a:hover::before{
    width: 100%;
}


