.products{
    height: 450px;
}

.urunlerUzunlamasi{
    height: 100%;
}

.akc{
    transition: transform 0.5s, box-shadow 2s;

    
    margin: 10px;
}

.akc:hover{
    transform: translateY(-10px);
    box-shadow: 0 20px 40px -8px rgba(0, 0, 0, 0.25);
    transition: transform 0.5s;

}

