.urunlerUzunlamasi{
    position: relative;
    z-index: -1;
    height: 0px;
}

.içerik{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    color: white;
    font-size: 45px;
    font-weight: 800;
}

.tanitimFoto{
    height: 500px;
    width: 70%;
    border-radius: 20px;
    transition: 0.4s;
}

.tanitimFoto:hover{
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.25);
}

.fotoAlani{
    display: flex;
    align-items: center;
    justify-content: center;
}


.tanitimBolumuText{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 760px) {
    .tanitimTersten {
        flex-direction: column-reverse; /* Sütunları ters sırayla düzenle */
    }

    .tanitimBolumuText {
        order: 2; /* İlk sütunu ikinci sütunun altına taşı */
        text-align: center;
    }

    .tanitimFoto:hover{
        transform:none;
        box-shadow: none;
    }
}

